.page {
  font-family: 'IBM Plex mono', sans-serif;
  width: 375px;
  background-color: var(--background-color);
  background-attachment: fixed;
}


.decorated-zone::before,
.footer__focus-screen::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  margin-inline-start: 330px;
  justify-self: center;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

.decorated-zone::after,
.footer__focus-screen::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  margin-block-start: 30px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.header {
  height: 668px;
  padding: 10px;
  background: fixed var(--background-image);
  background-position: bottom;
  background-size: cover;
}

.header__darkthemed_decoration {
  top: 10px;
  position: absolute;
  inline-size: 52px;
  margin-inline-end: 8px;
  visibility: var(--is-light);
  justify-self: end;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--accent-color);
}

.header__darkthemed_decoration::after {
  content: '';
  position: inherit;
  inline-size: 10px;
  block-size: 10px;
  bottom: 6px;
  right: 0;
  align-self: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0 0 4px var(--accent-color));
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  padding-top: 65px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400px;
  padding: 0 13px 2px 13px;
  text-transform: lowercase;
  background-color: transparent;
  border: transparent;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__title {
  padding: 65px 0 53px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-size: 18px;
  font-weight: bold;
  justify-content: end;
  background-color: var(--accent-color);
  color: var(--posttitle-text-color);
}

/* -- ОСНОВА */

.main__topics {
  padding: 10px;
  padding-block: 40px;
}

.main__topic-first-question,
.main__topic-question,
.main__topic-question-accent {
  font-size: 18px;
  font-weight: bold;
  color: var(--topic-title);
}

.main__topics-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__topic-list-section {
  display: grid;
  gap: 20px;
  padding-block-start: 19px;
}

.main__topic-question {
  margin-block-start: 5px;
}

.main__topic-question-accent {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.main__topic-title,
.main__topic-pretitle {
  font-size: 18px;
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.main__topic-pretitle {
  font-weight: normal;
}

.main__topic-pretitle-list-section {
  display: grid;
  gap: 20px;
  margin-block-start: 20px;
}

.main__topic-content {
  padding-block-start: 10px;
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  color: var(--text-color);
}

.main__link-content {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__link-content:hover {
  border-block-end: 1.5px solid var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__link-content:focus {
  outline: none;
}

.main__link-content:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__topic-image-first {
  padding-block-start: 10px;
}

.main__topic-image-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main__topic-image,
.main__topic-image-first {
  width: 100%;
}

/* ПОДВАЛ */

.footer__focus-screen {
  height: 668px;
  margin-inline: 10px;
  align-content: center;
}

.footer__focus-screen::before {
  margin-block-start: -246px;
  margin-inline-start: 330px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

.footer__focus-screen::after {
  margin-block-start: 225px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.footer__title {
  justify-self: center;
  text-transform: lowercase;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* --- MEDIA --- */

@media (width >= 768px) {
  .page {
    width: 768px;
  }

  .header {
    padding: 20px;
    padding-inline-start: 0;
    height: 1024px;
  }

  .decorated-zone::before {
    margin-inline-start: 723px;
    top: 19px;
  }

  .decorated-zone::after {
    margin-inline-start: 20px;
    margin-block-start: 138px;
  }

  .header__darkthemed_decoration {
    top: 21px;
  }

  .header__theme-menu-list {
    margin-block-start: 108px;
  }

  .header__title {
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 173px;
    padding-inline-start: 0;
  }

  .header__text {
    margin-block-start: 107px;
    width: 364px;
    justify-self: end;
  }

  .main__topics {
    padding-inline: 20px;
    margin-block-start: 20px;
    padding-block-end: 0;
  }

  .main__topics-list {
    gap: 80px;
  }

  .main__topic-pretitle-list-section {
    gap: 20px;
  }

  .main__topic-list-section {
    margin-block-start: 20px;
    padding-block-start: 0;
    gap: 21px;
  }

  .main__topic-content-out .main__topic-list-section {
    margin-block-start: 0;
  }

  .main__topic-question {
    width: 236px;
    padding-block-start: 0;
  }

  .main__topic-content-out .main__topic-question,
  .main__topic-first-question {
    position: absolute;
    width: 236px;
  }

  .main__topic-content-out .main__topic-content,
  .main__topic-content-out .main__topic-title,
  .main__topic-content-out .main__topic-pretitle {
    width: 472px;
    justify-self: end;
  }

  .main__topic-question-accent {
    margin-block-end: 20px;
  }

  .main__topic-image-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 0;
  }

  .main__topic-image,
  .main__topic-image-first {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .main__topic-image-section:nth-child(1) {
    grid-column: 1 / 3;
    width: 479px;
    height: 192px;
    margin-block-end: 20px;
  }

  .main__topic-image-section:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    width: 229px;
    height: 442px;
    margin-inline-start: 13px;
  }

  .main__topic-image-section:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 3 / 5;
    width: 229px;
    height: 568px;
  }

  .main__topic-image-section:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 230px;
    height: 230px;
    margin-inline-start: 10px;
  }

  .main__topic-image-section:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin-block-start: 20px;
    margin-inline-start: 10px;
  }

  .footer__focus-screen {
    margin-block-start: 50px;
    padding-inline: 20px;
  }

  .footer__focus-screen::before {
    margin-block-start: -411px;
    margin-inline-start: 692px;
  }

  .footer__focus-screen::after {
    margin-block-start: 389px;
    margin-inline-start: -10px;
  }
}

@media (width >= 1024px) {
  .page {
    width: 1024px;
  }

  .header {
    height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: -108px;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    padding-block-start: 0;
  }

  .decorated-zone::before {
    margin-inline-start: 979px;
    justify-self: end;
  }

  .decorated-zone::after {
    margin-block-start: 90px;
  }

  .header__title {
    font-size: 157px;
    padding-block-start: 270px;
  }

  .header__text {
    margin-block-start: 62px;
    width: 491px;
  }

  .main__topic-question,
  .main__topic-first-question,
  .main__topic-content-out .main__topic-question {
    width: 315px;
  }

  .main__topic-content-out .main__topic-content,
  .main__topic-content-out .main__topic-title,
  .main__topic-content-out .main__topic-pretitle {
    width: 649px;
  }

  .main__topic-pretitle-list-section {
    gap: 21px;
  }

  .main__topic-content-in .main__topic-list-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__topic-image-section:nth-child(1) {
    width: 650px;
    height: 260px;
    margin-block-end: 20px;
  }

  .main__topic-image-section:nth-child(2) {
    width: 314px;
    height: 595px;
    margin-inline-start: 13px;
  }

  .main__topic-image-section:nth-child(3) {
    width: 315px;
    height: 768px;
  }

  .main__topic-image-section:nth-child(4) {
    width: 315px;
    height: 315px;
    margin-inline-start: 5px;
  }

  .main__topic-image-section:nth-child(5) {
    margin-block-start: 20px;
    margin-inline-start: 5px;
  }

  .footer__focus-screen {
    margin-inline: 20px;
    height: 768px;
  }

  .footer__focus-screen::before {
    margin-block-start: -263px;
    margin-inline-start: 940px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 0;
  }

  .footer__focus-screen::after {
    margin-block-start: 235px;
    margin-inline-start: -20px;
  }
}